---
layout: default
title: Home
---


    <div style="text-align: center; ">
      <div style="margin-bottom: 10px; margin-left: auto; margin-right: auto; margin-top: 10px; overflow: hidden; position: relative; word-wrap: break-word;  text-align: left; width: 684px; " id="body_content">
        <div style="background: transparent url(HOME_files/watercooloer_bkgnd.jpg) repeat scroll top left; width: 684px; ">
          <div style="height: 126px; margin-left: 0px; position: relative; width: 684px; z-index: 10; " id="header_layer">
            <div style="height: 0px; line-height: 0px; " class="bumper"> </div>
            <div id="id1" style="height: 111px; left: 15px; position: absolute; top: 15px; width: 653px; z-index: 1; " class="style_SkipStroke shape-with-text">
              <div class="text-content style_External_653_111" style="padding: 0px; ">
                <div class="style">
                  <p style="padding-bottom: 0pt; padding-top: 0pt; " class="paragraph_style">Anup Phayal</p>
                </div>
              </div>
            </div>
          </div>
          <div style="float: left; margin-left: 0px; position: relative; width: 684px; z-index: 0; " id="nav_layer">
            <div style="height: 0px; line-height: 0px; " class="bumper"> </div>
            <div style="clear: both; height: 0px; line-height: 0px; " class="spacer"> </div>
          </div>
          <div style="margin-left: 0px; position: relative; width: 684px; z-index: 5; " id="body_layer">
            <div style="height: 0px; line-height: 0px; " class="bumper"> </div>
            <div id="id2" style="height: 42px; left: 511px; position: absolute; top: 37px; width: 150px; z-index: 1; " class="style_SkipStroke_1 shape-with-text">
              <div class="text-content style_External_150_42" style="padding: 0px; ">
                <div class="style_1">
                  <p style="padding-bottom: 0pt; padding-top: 0pt; " class="paragraph_style_1"><a class="class1" title="CV" href="https://uncw4-my.sharepoint.com/:b:/g/personal/phayala_uncw_edu/EbH2d5rjaB1GjtSMfhyGLG4BRHEI0w7_Rzzr5_GgrR66yg?e=W2Khb5">CV</a></p>
                </div>
              </div>
            </div>
            
